body{
    margin: 0px;
}

.perfil{
    text-align: center;
    
}
.perfil-1{
    color: white;
    padding: 30px;
    text-align: center;
    background-color: darkgrey;
}

.github{
    background-color: black;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 30px;
    color: white;
}
.reseña{
    text-align: center;
    padding: 3%;
    color: white;
    background-color: black;
}
.educacion{
    padding: 3%;
}
.edu{
    text-align: center;
}
